//*Colors
$c-white:#FFFFFF;
$c-black:#080606; 
$c-brown:#59443F;
$c-orange:#FFC59E;
$c-brown-light:#C3B9B5;
$c-bg-spec:#FBF8F8;
$c-icon: #DDD4F3;
$c-red: red;

//*Font-family
$f-base:'Roboto', sans-serif;

//*Font size
$fs-base: 10px;
$fs-title1: 70px;
$fs-title2: 40px;
$fs-title3: 20px;
$fs-title4: 16px;


